
    <form class="col-md-12" [formGroup]="inBondFormStep10">
        <div>Fill all mandatory fields indicated by<span class="required">&#42;</span> </div>
        <h6 class="font-h6 text-center">Container</h6>
        <hr>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class=" form-group col-md-4 offset-md-1" [ngClass]="displayFieldCss('igm_no')">
                <label>IGM Number<span class="required"> *</span><fa-icon [icon]=" ['fas', 'exclamation-circle' ]"
                matTooltip="Maximum length is 7 and only numbers are allowed" [matTooltipPosition]="position.value"
                class="icon_tooltips">
                </fa-icon></label>
                <input  class="form-control" formControlName="igm_no">
                <validation-messages [control]="inBondFormStep10.controls.igm_no" errorMsg="IGM Number"></validation-messages>

            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2" [ngClass]="displayFieldCss('igm_date')">
                <label>IGM Date</label><span class="required">*</span>
                <!-- <input type="date" class="form-control" formControlName="igm_date"> -->
                <div>
                    <mat-form-field>
                        <mat-label>Choose a date</mat-label>
                        <!-- #docregion toggle -->
                        <input matInput [matDatepicker]="igm_date" formControlName="igm_date">
                        <mat-datepicker-toggle matSuffix [for]="igm_date"></mat-datepicker-toggle>
                        <mat-datepicker #igm_date></mat-datepicker>
                        <!-- #enddocregion toggle -->
                    </mat-form-field></div>
                    <validation-messages [control]="inBondFormStep10.controls.igm_date" errorMsg="IGM Date"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-1"></div>
            <div class="form-group col-md-4">
                <div class="form-group">
                    <span>LCL/FCL </span><span class="required">*</span> <div>
                        <mat-radio-group aria-label="Select an option" formControlName="lcl_fcl">
                            <mat-radio-button value="L" >LCL</mat-radio-button>&nbsp;&nbsp;   
                            <mat-radio-button value="F">FCL</mat-radio-button> 
                        </mat-radio-group> </div>
                    <!-- <label class="col-md-3">
                        <input type="radio" value="Lcl" formControlName="lcl_fcl">LC
                    </label>

                    <label class="col-md-3">
                        <input type="radio" value="Fcl" formControlName="lcl_fcl">FCL
                    </label> -->
                    <validation-messages [control]="inBondFormStep10.controls.lcl_fcl" errorMsg="LCL/FCL"></validation-messages>
                </div>

            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2" [ngClass]="displayFieldCss('container_number')">
                <label>Container Number<span class="required"> *</span><fa-icon [icon]=" ['fas', 'exclamation-circle' ]"
                matTooltip="Maximum length is 11 and text and number or text both are allowed" [matTooltipPosition]="position.value"
                class="icon_tooltips">
                </fa-icon></label>
                <input type="text" class="form-control" formControlName="container_number">
                <validation-messages [control]="inBondFormStep10.controls.container_number" errorMsg="Container Number"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class=" form-group col-md-4 offset-md-1" [ngClass]="displayFieldCss('seal_number')">
                <label>Seal Number<span class="required"> *</span><fa-icon [icon]=" ['fas', 'exclamation-circle' ]"
                matTooltip="Maximum length is 10 and text and number or text both are allowed" [matTooltipPosition]="position.value"
                class="icon_tooltips">
                </fa-icon></label>
                <input type="text" class="form-control" formControlName="seal_number">
                <validation-messages [control]="inBondFormStep10.controls.seal_number" errorMsg="Seal Number"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2" [ngClass]="displayFieldCss('truck_number')">
                <label>Truck Number<fa-icon [icon]=" ['fas', 'exclamation-circle' ]"
                    matTooltip="Maximum length is 20 and text and number or text both are allowed" [matTooltipPosition]="position.value"
                    class="icon_tooltips">
                    </fa-icon></label>
                <input type="text" class="form-control" formControlName="truck_number">
                <validation-messages [control]="inBondFormStep10.controls.truck_number" errorMsg="Truck Number"></validation-messages>
            </div>
        </div>


<div class="btncontainer">
    <button id="back_draft" mat-raised-button matStepperPrevious>Back</button>
    <div class="col-md-4 offset-md-4"></div>
    <button id="back_draft" mat-raised-button>Save as Draft</button>
    <button  id="savecon" mat-flat-button (click)="onSubmit()">Save & Continue</button>
    <button id="save_continues"  matStepperNext style="display: none;"></button>
</div>
</form>