<div class="container-fluid">
    <div class="card">
        <b class="m-2">Sea IGM</b>
        <div class="box-color">
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="sea_igm" (ngSubmit)="onFormSubmit()">
                    <div class="col-lg-12 text-right">
                        <label>
                            <p class="import_json_files"><b>Import Json file</b></p>
                           <input type="file"  (change)="uploadFile($event)"/>
                        </label>
                        <a class="btn btn-clear export_as_json" title="Download JSON"  (click)="downloadseaigm()" [href]="downloadJsonHref" download="sea-igm.json"> 
                            <img src="assets/images/json_files_icon.webp"/> 
                            Export as Json
                        </a>
                    </div>
                    <mat-horizontal-stepper #stepper class="stepperscroll">
                        <ng-template matStepperIcon="edit">
                            <mat-icon [inline]="true">check_circle</mat-icon>
                        </ng-template>
                        <mat-step>
                            <app-step1 formControlName="seaIgmStep1"></app-step1>
                           
                        </mat-step>
                        <mat-step>
                        
                                    <app-step2 formControlName="seaIgmStep2"></app-step2>
                               
                        </mat-step>
                    </mat-horizontal-stepper>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>