.add_other_items {
    margin-top:30px;
    padding-top: 20px;
    border-top:1px solid #ccc;
}
#step_three_add_items {
    width: 166px;
}
#add-items {
    width: 125px;   
}
label.rsp_app{
    margin-right: 14px;
}
