<form class="col-md-12" [formGroup]="inBondFormStep11">
    <div>Fill all mandatory fields indicated by<span class="required">&#42;</span></div>
    <h6 class="font-h6 text-center">Commercial Tax</h6>
    <hr>
    <div class="form-row">
        <!-- <div class="col-md-1"></div> -->
        <div class=" form-group col-md-4 offset-md-1">
            <label>State Code<span class="required"> *</span></label>
            <select class="form-control" formControlName="state_code">
                <option value="De">Delhi</option>
                <option value="Ha">Haryana</option>
            </select>
            <validation-messages [control]="inBondFormStep11.controls.state_code" errorMsg="State Code">
            </validation-messages>
        </div>
        <!-- <div class="col-md-2"></div> -->
        <div class="form-group col-md-4 offset-md-2" [ngClass]="displayFieldCss('commercial_tax_type')">
            <label>Commercial Tax Type<span class="required"> *</span>
                <fa-icon [icon]=" ['fas', 'exclamation-circle' ]"
                    matTooltip="Maximum length is 1 and number or text both are allowed"
                    [matTooltipPosition]="position.value" class="icon_tooltips">
            
            </fa-icon></label>
            <input type="text" class="form-control" formControlName="commercial_tax_type">
            <validation-messages [control]="inBondFormStep11.controls.commercial_tax_type"
                errorMsg="Commercial Tax Type"></validation-messages>
        </div>
    </div>
    <div class="form-row">
        <!-- <div class="col-md-1"></div> -->
        <div class=" form-group col-md-4 offset-md-1" [ngClass]="displayFieldCss('commercial_tax_registration')">
            <label>Commercial Tax Registration No.<span class="required"> *</span>
                <fa-icon [icon]=" ['fas', 'exclamation-circle' ]"
                    matTooltip="Maximum length is 20 and number or text both are allowed"
                    [matTooltipPosition]="position.value" class="icon_tooltips">
                </fa-icon>
            </label>
            <input type="text" class="form-control" formControlName="commercial_tax_registration">
            <validation-messages [control]="inBondFormStep11.controls.commercial_tax_registration"
                errorMsg="Commercial Tax Registration"></validation-messages>
        </div>
    </div>


    <div class="btncontainer">
        <button id="back_draft" mat-raised-button matStepperPrevious>Back</button>
        <div class="col-md-4 offset-md-4"></div>
        <button id="back_draft" mat-raised-button>Save as Draft</button>
        <button id="savecon" mat-flat-button (click)="onSubmit()">Save & Continue</button>
        <button id="save_continues" matStepperNext style="display: none;"></button>
    </div>
</form>