<div> Fill all the mandatory fields indicated by <span class="required"> *</span></div>
<div class="row">
    <form class="col-md-12" [formGroup]="airlineIgmStep1">
        <h2 class="text-center">Flight Details</h2>
        <hr>
        <div class="col-md-12"></div>
        <div class="form-row">
          
            <div class="form-group col-md-2 offset-md-1" [ngClass]="displayFieldCss('message_type')">
                <label>Message Type</label><span class="required"> *</span> 
                <input type="text" class="form-control" formControlName="message_type"  readonly>
                <validation-messages [control]="airlineIgmStep1.controls.message_type"  errorMsg="Message Type"></validation-messages>

            </div>
            <div class="form-group  col-md-2" [ngClass]="displayFieldCss('custom_house_code')">
                <label>Custom House Code&nbsp;<fa-icon [icon]="['fas', 'exclamation-circle']" matTooltip="Maximum length is 6 and characters are allowed " [matTooltipPosition]="position.value"
                class="icon_tooltips"></fa-icon> </label>
                <input type="text" formControlName="custom_house_code" class="form-control">
                <validation-messages [control]="airlineIgmStep1.controls.custom_house_code" errorMsg="Custom House Code"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group  col-md-2 offset-md-2" [ngClass]="displayFieldCss('flight_no')">
                <label>Flight No. &nbsp;<fa-icon [icon]="['fas', 'exclamation-circle']" matTooltip="Maximum length is 15 and characters are allowed " [matTooltipPosition]="position.value"
                class="icon_tooltips"></fa-icon> </label>
                <input type="text" formControlName="flight_no" class="form-control">
                <validation-messages [control]="airlineIgmStep1.controls.flight_no"  errorMsg="Flight No"></validation-messages>
            </div>
            <div class="form-group  col-md-2" [ngClass]="displayFieldCss('flight_origin_date')">
                <label>Flight Origin Date</label>
                <div>
                <mat-form-field>
                    <mat-label>Choose a date</mat-label> 
                    
                    <input matInput [matDatepicker]="picker" formControlName="flight_origin_date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                   
                   
                </mat-form-field>
                </div>
                <validation-messages [control]="airlineIgmStep1.controls.flight_origin_date"  errorMsg="Flight Origin Date"></validation-messages>
            </div>
        </div>
        <div class="form-row">
          
            <div class="form-group  col-md-4 offset-md-1" [ngClass]="displayFieldCss('expected_date_time_arrival')">
                <label>Expected Date and Time Arrival</label>  <span class="required"> *</span> 
                <div>
                <mat-form-field>
                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose date and time"
                        formControlName="expected_date_time_arrival" [min]="minDate" [max]="maxDate" [disabled]="disabled">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" 
                        [stepHour]="stepHour" [stepMinute]="stepMinute"  [touchUi]="touchUi"
                        [color]="color" [enableMeridian]="enableMeridian">
                    </ngx-mat-datetime-picker>
                </mat-form-field>
                </div>
                <validation-messages [control]="airlineIgmStep1.controls.expected_date_time_arrival"  errorMsg="Expected Date Time Arrival"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group  col-md-4 offset-md-2" [ngClass]="displayFieldCss('port_origin')">
                <label>Port of Origin</label> <span class="required"> *</span>
                <select formControlName="port_origin" class="form-control">
                    <option value="ind">IND</option>
                    <option value="can">CAN</option>
                </select>
                <validation-messages [control]="airlineIgmStep1.controls.port_origin"  errorMsg="Port Origin"></validation-messages>
            </div>
        </div>
        <div class="form-row">
          
            <div class="form-group col-md-4 offset-md-1" [ngClass]="displayFieldCss('port_destination')">
                <label>Port of Destination</label>  <span class="required"> *</span>
                <select formControlName="port_destination" class="form-control">
                    <option value="ind">IND</option>
                    <option value="can">CAN</option>
                </select>
                <validation-messages [control]="airlineIgmStep1.controls.port_destination"  errorMsg="Port Destination"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2" [ngClass]="displayFieldCss('registration_no')">
                <label>Registration No. &nbsp;<fa-icon [icon]="['fas', 'exclamation-circle']" matTooltip="Maximum length is 10 and characters are allowed " [matTooltipPosition]="position.value"
                    class="icon_tooltips"></fa-icon> </label>
                <input type="text" formControlName="registration_no" class="form-control" >
                <validation-messages [control]="airlineIgmStep1.controls.registration_no"  errorMsg="Registration No"></validation-messages>
            </div>
        </div>
        <div class="form-row">
          
            <div class="form-group col-md-4 offset-md-1" [ngClass]="displayFieldCss('nil_cargo_flight')">
                <label>Nil Cargo Flight</label>  <span class="required"> *</span> 
                <div>
                    <mat-radio-group aria-label="Select an option" formControlName="nil_cargo_flight">
                        <mat-radio-button value="Yes" >Yes</mat-radio-button>&nbsp;&nbsp;
                        <mat-radio-button value="No">No</mat-radio-button>                            
                    </mat-radio-group>
                </div>
                <validation-messages [control]="airlineIgmStep1.controls.nil_cargo_flight"  errorMsg="Nil Cargo Flight"></validation-messages>
            </div>
        </div>
    </form>
</div>
<div class="btncontainer">
    <button mat-raised-button id="back_draft">Save as Draft</button>
    <button mat-flat-button  id="savecon" (click)="onSubmit()">Save & Continue</button>
    <button id="save_continues"  matStepperNext style="display: none;"></button>
</div>