
    <form class="col-md-12" [formGroup]="inBondFormStep7">
        <div>Fill all mandatory fields indicated by<span class="required">&#42;</span> </div>
        <h6 class="font-h6 text-center">DEPB</h6>
        <hr>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1" [ngClass]="displayFieldCss('invoice_serial_number')">
                <label>Invoice Serial Number<span class="required">*</span><fa-icon [icon]="['fas', 'exclamation-circle']" matTooltip="Maximum length is 5 and only number are allowed" [matTooltipPosition]="position.value"
                class="icon_tooltips"></fa-icon></label>
                <input class="form-control"
                    formControlName="invoice_serial_number">
                    <validation-messages [control]="inBondFormStep7.controls.invoice_serial_number" errorMsg="Invoice Serial Number"></validation-messages>                                         
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2" [ngClass]="displayFieldCss('item_serial_number_invoice')">
                <label> Item Sr. Number in Invoice<span
                    class="required">*</span><fa-icon [icon]="['fas', 'exclamation-circle']" matTooltip="Maximum length is four and only number are allowed" [matTooltipPosition]="position.value"
                    class="icon_tooltips"></fa-icon></label>
                <input type="text" class="form-control"
                    formControlName="item_serial_number_invoice">
                    <validation-messages [control]="inBondFormStep7.controls.item_serial_number_invoice" errorMsg="Item Sr. Number in Invoice"></validation-messages>                                                                                   
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1" [ngClass]="displayFieldCss('exemption_required')">
                <span>Whether Exemption Required? </span>  <div>
                    <mat-radio-group aria-label="Select an option" formControlName="exemption_required">
                        <mat-radio-button value="Y" >Yes</mat-radio-button>&nbsp;&nbsp;   
                        <mat-radio-button value="N">No</mat-radio-button> 
                    </mat-radio-group> </div>
                <!-- <label class="col-md-3">
                    <input type="radio" value="Yes" formControlName="exemption_required">Yes
                </label>

                <label class="col-md-3">
                    <input type="radio" value="No" formControlName="exemption_required">No
                </label> -->
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2" [ngClass]="displayFieldCss('bcd_notification')">
                <label>BCD Notification<span class="required"> *</span><fa-icon [icon]="['fas', 'exclamation-circle']" matTooltip="Maximum length is 10 and number or text both are allowed" [matTooltipPosition]="position.value"
                class="icon_tooltips"></fa-icon></label>
                <input type="text" class="form-control"
                    formControlName="bcd_notification">
                    <validation-messages [control]="inBondFormStep7.controls.bcd_notification" errorMsg="BCD Notification"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1" [ngClass]="displayFieldCss('bcd_notification_sr_no')">
                <label>BCD Notification Sr. No.<span class="required"> *</span><fa-icon [icon]="['fas', 'exclamation-circle']" matTooltip="Maximum length is 10 and number or text both are allowed" [matTooltipPosition]="position.value"
                class="icon_tooltips"></fa-icon></label>
                <input type="text" class="form-control"
                    formControlName="bcd_notification_sr_no">
                    <validation-messages [control]="inBondFormStep7.controls.bcd_notification_sr_no" errorMsg="BCD Notification Se. No."></validation-messages>
            </div>
        </div>
 
<div class="btncontainer">
    <button id="back_draft" mat-raised-button matStepperPrevious>Back</button>
    <div class="col-md-4 offset-md-4"></div>
    <button id="back_draft" mat-raised-button>Save as Draft</button>
    <button  id="savecon" mat-flat-button (click)="onSubmit()">Save & Continue</button>
    <button id="save_continues"  matStepperNext style="display: none;"></button>
</div>

</form>