<div>
    <form class="col-md-12" [formGroup]="exBondFormStep5">
        <h6 class="font-h6 text-center">DEPB</h6>
        <hr>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1" [ngClass]="displayFieldCss('invoice_serial_number')">
                <label>Invoice Serial Number<span class="required">*</span> &nbsp; <fa-icon [icon]="['fas', 'exclamation-circle']" matTooltip="Maxlength is 5 and only numbers are allowed " [matTooltipPosition]="position.value"
                class="icon_tooltips"></fa-icon></label>
                <input type="text" class="form-control"
                    formControlName="invoice_serial_number">
                    <validation-messages [control]="exBondFormStep5.controls.invoice_serial_number"  errorMsg="Invoice Serial Number"></validation-messages>                                       
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2" [ngClass]="displayFieldCss('item_serial_number_invoice')">
                <label> Item Sr. Number in Invoice<span
                    class="required">*</span>  &nbsp; <fa-icon [icon]="['fas', 'exclamation-circle']" matTooltip=" Maxlength is 4 and only numbers are allowed" [matTooltipPosition]="position.value"
                    class="icon_tooltips"></fa-icon></label>
                <input type="text" class="form-control"
                    formControlName="item_serial_number_invoice">
                    <validation-messages [control]="exBondFormStep5.controls.item_serial_number_invoice"  errorMsg="Invoice Serial Number in Invoice"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1" [ngClass]="displayFieldCss('excemption_required')">
                <span>Wether Exemption Required? </span>
                <div>
                    <mat-radio-group aria-label="Select an option" formControlName="excemption_required">
                        <mat-radio-button value="Yes">Yes</mat-radio-button>&nbsp;&nbsp;
                        <mat-radio-button value="No">No</mat-radio-button>     
                    </mat-radio-group>
                </div>
                <validation-messages [control]="exBondFormStep5.controls.excemption_required"  errorMsg="Wether Exemption Required?"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2" [ngClass]="displayFieldCss('bcd_notification')">
                <label>BCD Notification<span class="required"> *</span>  &nbsp; <fa-icon [icon]="['fas', 'exclamation-circle']" matTooltip=" Maxlength is 10 and characters are allowed" [matTooltipPosition]="position.value"
                class="icon_tooltips"></fa-icon></label>
                <input type="text" class="form-control"
                    formControlName="bcd_notification">
                    <validation-messages [control]="exBondFormStep5.controls.bcd_notification"  errorMsg="BCD Notification"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1" [ngClass]="displayFieldCss('bcd_notification_sr_no')">
                <label>BCD Notification Sr. No.<span class="required"> *</span>  &nbsp; <fa-icon [icon]="['fas', 'exclamation-circle']" matTooltip=" Maxlength is 10 and characters are allowed" [matTooltipPosition]="position.value"
                class="icon_tooltips"></fa-icon></label>
                <input type="text" class="form-control"
                    formControlName="bcd_notification_sr_no">
                    <validation-messages [control]="exBondFormStep5.controls.bcd_notification_sr_no"  errorMsg="BCD Notification Serial No"></validation-messages>
            </div>
        </div>
    </form>
</div>
<div class="btncontainer">
    <button id="back_draft" mat-raised-button matStepperPrevious>Back</button>
    <div class="col-md-4 offset-md-4"></div>
    <!-- <button id="back_draft" mat-raised-button>Save as Draft</button> -->
    <button id="savecon" mat-flat-button (click)="onSubmit()">Save & Continue</button>
    <button id="save_continues"  matStepperNext style="display: none;"></button>
</div>