<!-- <div><span class="required"> *</span> indicates the mandatory fields</div>
<br>
<button mat-raised-button (click)="openDialog()" id="add-option">
    Add Container<mat-icon>add</mat-icon>
</button>
<br> -->
<div class="row">
    <form class="col-md-12" [formGroup]="seaEgmStep1">

        <h2 class="text-center">EGM Master Details</h2>
        <!-- <mat-radio-group aria-label="Select an option" (change)="choose($event)">
            <mat-radio-button value="C" checked="checked" >Containerised</mat-radio-button>&nbsp;
            <mat-radio-button value="NC">Non-Containerised</mat-radio-button>
        </mat-radio-group> -->
        <hr>
        <div class="col-md-12"><br></div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1" [ngClass]="displayFieldCss('message_type')">
                <label>Message Type</label>
                <select class="form-control" formControlName="message_type">
                    <option value="F">F</option>
                    <option value="A">A</option>
                </select>
                <validation-messages [control]="seaEgmStep1.controls.message_type" errorMsg="Message Type"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2" [ngClass]="displayFieldCss('custom_house_code')">
                <label>Customs House Code&nbsp;<fa-icon [icon]="['fas', 'exclamation-circle']" matTooltip="Maximum length is 6  and characters are allowed " [matTooltipPosition]="position.value"
                    class="icon_tooltips"></fa-icon> </label>
                <input type="text" class="form-control" formControlName="custom_house_code">
                <validation-messages [control]="seaEgmStep1.controls.custom_house_code" errorMsg="Custom House Code"></validation-messages>
            </div>
        </div>
        <div class="form-row">
            <!-- <div class="col-md-1"></div> -->
            <div class="form-group col-md-4 offset-md-1" [ngClass]="displayFieldCss('egm_no')">
                <label>EGM No&nbsp;<fa-icon [icon]="['fas', 'exclamation-circle']" matTooltip="Maximum length is 7 and only numbers are allowed " [matTooltipPosition]="position.value"
                    class="icon_tooltips"></fa-icon> </label>
                <input type="text" class="form-control" formControlName="egm_no">
                <validation-messages [control]="seaEgmStep1.controls.egm_no" errorMsg="EGM No"></validation-messages>
            </div>
            <!-- <div class="col-md-2"></div> -->
            <div class="form-group col-md-4 offset-md-2" [ngClass]="displayFieldCss('egm_date')">
                <label>EGM Date</label>
                <div>
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <!-- #docregion toggle -->
                    <input matInput [matDatepicker]="egm_date" formControlName="egm_date">
                    <mat-datepicker-toggle matSuffix [for]="egm_date"></mat-datepicker-toggle>
                    <mat-datepicker #egm_date></mat-datepicker>
                    <!-- #enddocregion toggle -->
                </mat-form-field>
                </div>
                <validation-messages [control]="seaEgmStep1.controls.egm_date" errorMsg="EGM Date"></validation-messages>
            </div>
        </div>

    </form>
</div>
<div class="btncontainer">
    <button mat-raised-button id="back_draft">Save as Draft</button>
    <button mat-flat-button  id="savecon" (click)="onSubmit()">Save & Continue</button>
    <button id="save_continues"  matStepperNext style="display: none;"></button>
</div>